.skills-container {
    display: flex;
    flex-direction: column;
    padding: 0 8%;
    height: calc(50vh - 50px);
}

.skills-container__titulo {
    text-align: center;
    font-size: 25px;
    margin: 0;
    padding: 35px 0;
}

.skills-container__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.skills-container__box__item {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    background-color: #FFFFFF;
    padding: 10px;
}

#html {
    background: url("../../img/bxl-html5.svg") center / cover no-repeat;
    width: 20px;
    height: 30px;
}

#css {
    background: url("../../img/bxl-css3.svg") center / cover no-repeat;
    width: 20px;
    height: 30px;
}

#javascript {
    background: url("../../img/bxl-javascript.svg") center / cover no-repeat;
    width: 30px;
    height: 30px;
}

#mysql {
    background: url("../../img/database.png") center / cover no-repeat;
    width: 22px;
    height: 22px;
}

#scrum {
    background: url("../../img/scrum.png") center / cover no-repeat;
    width: 30px;
    height: 30px;
}

#ingles {
    background: url("../../img/ingles.png") center / cover no-repeat;
    width: 25px;
    height: 25px;
}

.skills-container__box__item__titulo {
    margin: 0;
}

@media only screen and (max-width: 420px) {
    .skills-container {
        height: auto;
        padding: 0 20px;
    }

    .skills-container__box__item {
        width: 40%;
        margin-bottom: 10px;
    }
}
