.sobre-mi-container {
    height: 50vh;
    background-color: var(--color-de-fondo-2);
    display: flex;
    align-items: center;
    padding: 0 8%;
}

.sobre-mi-container__sobre-mi {
    width: 60%;
}

.sobre-mi-container__sobre-mi__titulo {
    font-size: 25px;
}

.sobre-mi-container__sobre-mi__parrafo {
    font-size: 19px;
    text-align: justify;
}

@media only screen and (max-width: 420px) {
    .sobre-mi-container {
        height: auto;
        padding: 0 20px;
    }
    
    .sobre-mi-container__sobre-mi {
        width: auto;
    }

    .sobre-mi-container__sobre-mi__parrafo {
        text-align: left;
        padding-right: 10px;
    }
}