.hobbies-container {
    display: flex;
    flex-direction: column;
    padding: 0 8%;
    height: 50vh;
}

.hobbies-container__titulo {
    text-align: center;
    font-size: 25px;
    margin: 0;
    padding: 35px 0;
}

.hobbies-container__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.hobbies-container__box__item {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    background-color: #FFFFFF;
    padding: 10px;
}

#guitarra {
    background: url("../../img/guitar.png") center / cover no-repeat;
    width: 27px;
    height: 27px;
}

#bici {
    background: url("../../img/bici.png") center / cover no-repeat;
    width: 30px;
    height: 30px;
}

#naturaleza {
    background: url("../../img/naturaleza.png") center / cover no-repeat;
    width: 30px;
    height: 30px;
}

#viajar {
    background: url("../../img/viajar.png") center / cover no-repeat;
    width: 35px;
    height: 30px;
}

#cod {
    background: url("../../img/cod.png") center / cover no-repeat;
    width: 30px;
    height: 30px;
}

#programar {
    background: url("../../img/programar.png") center / cover no-repeat;
    width: 30px;
    height: 30px;
}

.hobbies-container__box__item__titulo {
    margin: 0;
}

@media only screen and (max-width: 420px) {
    .hobbies-container {
        height: auto;
        padding: 0 20px;
    }

    .hobbies-container__box__item {
        width: 40%;
        margin-bottom: 10px;
    }
}