:root {
    /*Backgrounds*/    
    --color-de-fondo: #F5F5F5;
    --color-de-fondo-2: #EAF2FD;
    --color-de-link: #000000;
    --color-sections: #EAF2FD;
    --color-button: #2A7AE4;
    --color-buttonA-hover: #196ad4;
    --color-buttonA-active: #0e59bb;
    --color-buttonB-hover: #ebe6e685;
    --color-buttonB-active: #9e9c9c80;
    

    /*Fuentes*/
    --fuente: 'Raleway';
    --color-fuente: #464646;
    --tamaño-fuente: 16px;
}