.fomacion-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 8% 150px 8%;
    background-color: var(--color-de-fonfo-2);
}

.formacion-container__titulo {
    text-align: center;
    font-size: 25px;
    margin: 0;
    padding: 35px 0;
}

.formacion-container__lista {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

.formacion-container__lista__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.formacion-container__lista__item__img {
    width: 250px;
    height: 300px;
}

#ifts {
    background: url("../../img/logo_ifts21.png") center / cover no-repeat;
    background-color: var(--color-fuente);
}

#alura {
    background: url("../../img/alura_logo.png") center / contain no-repeat;
    background-color: #FFFFFF;
}

#udemy {
    background: url("../../img/udemy.jpg") center / contain no-repeat;
    background-color: #FFFFFF;
}

.formacion-container__lista__item__titulo {
    margin: 0;
    padding: 5px 0;
}

.formacion-container__lista__item__fecha {
    margin: 0;
}