.experiencia-container {
    display: flex;
    flex-direction: column;
    padding: 0 8%;
    overflow: hidden;
}

.experiencia-container__titulo {
    text-align: center;
    font-size: 25px;
    margin: 0;
    padding: 35px 0;
}

.experiencia-container__experiencia {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.experiencia-container__experiencia__imagen {
    width: 700px;
    height: 400px;
    border-radius: 10px;
}

#encriptador {
    background: url("../../img/encriptador.jpg") center / contain no-repeat;
    background-color: var(--color-fuente);
}

#ahorcado {
    background: url("../../img/ahoracado.jpg") center / contain no-repeat;
    background-color: var(--color-fuente);
    order: 1;
}

#crud {
    background: url("../../img/crud.jpg") center / contain no-repeat;
    background-color: var(--color-fuente);
}

#pizzeria {
    background: url("../../img/mi-pizzeria.jpg") center / contain no-repeat;
    background-color: var(--color-fuente);
    order: 1;
}

#challenge-bief {
    background: url("../../img/challenge-bief.png") center / contain no-repeat;
    background-color: var(--color-fuente);
}

.experiencia-container__experiencia__descripcion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
    width: 350px;
}

.experiencia__descripcion__lista {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.experiencia__descripcion__lista__item {
    display: flex;
    align-items: center;
}

.item__button-A {
    padding: 20px;
    margin-right: 15px;
    border-radius: 0;
    border: none;
    background-color: var(--color-button);
    color: #FFFFFF;
    text-decoration: none;
}

.item__button-A:hover {
    background-color: var(--color-buttonA-hover);
}

.item__button-A:active {
    background-color: var(--color-buttonA-active);
}

.item__button-B {
    padding: 20px;
    border-radius: 0;
    border: none;
    text-decoration: none;
    outline: 1px solid var(--color-button);
    background-color: var(--color-de-fondo);
    color: var(--color-button);
}

.item__button-B:hover {
    background-color: var(--color-buttonB-hover);
}

.item__button-B:active {
    background-color: var(--color-buttonB-active);
}

@media only screen and (max-width: 420px) {
    .experiencia-container {
        padding: 0 20px;
    }

    .experiencia-container__experiencia {
        flex-direction: column;
        margin-bottom: 60px;
    }

    #ahorcado, #pizzeria {
        order: 0;
    }

    .experiencia-container__experiencia__descripcion {
        padding: 0;
        width: auto;
    }

    .experiencia-container__experiencia__imagen {
        width: 100%;
        height: 200px;
    }

    .experiencia__descripcion__titulo {
        margin: 10px 0;
    }

    .experiencia__descripcion__texto {
        margin: 0 0 10px 0;
    }

    .item__button-A, .item__button-B {
        padding: 15px;
    }
}